{% extends "base.html" %}

{% block content %}
<div>
    <header>
        <h1>Welcome to my Rock, Paper, Scissors Game!</h1>
    </header>
    <section>
        <h2>
            Game Rules:
        </h2>
        <p>
            <ol>
                <li>Enter player names</li>
                <li>Each player must choose either rock, paper or scissors</li>
                <li>Click the submit button to see who the winner is!</li>
            </ol>
        </p>
    </section>
</div>
{% endblock %}
